body{
	background-color: #f2f2f2;
	margin: 40px;
}

h1, h2{
	font-family: Tahoma;
	font-style: oblique;
	color: #0066ff;
}
.bold{
	font-weight: 666;
}
.italic{
	font-style: oblique;
}
img.fixed{
	width: 200px;
	height: 200px;
}
img.padded{
	margin: 10px;
}
a{
	color: #ff0000;
	text-decoration: none;
}
#over{
	text-decoration: overline;
}
a:hover{
	text-decoration: underline;
}

