h1{ font-size: 72px;
	font-family: Arial;
	color: #f00;
	text-align: center;
}
p{ font-size: 24px;
	font-family: Times;
	color: #00f;
	text-align: center;
}
ol{
	font-size: 18px;
	font-family: Times;
	text-align: center;
	list-style-type: none;
}
.no-item{
	list-style-type: none;
}